html,body{
    border:0;
    margin:20px;
    padding:0;
    font:1em Ubuntu,Arial,Tahoma;
}

table{
    border:1px solid #666666;
    margin:0;
    padding:0;
    display:table;
    border-collapse: collapse;
}

table tr{
    border-bottom:1px solid #666666;
}

table tr:last-child{
    border-bottom:0;
}

table tr th{
    display:table-cell;
    vertical-align:middle;
    padding:5px 15px;
    background-color: #999999;
    border-spacing: 0;
}

table tr td{
    display:table-cell;
    vertical-align:middle;
    padding:5px 15px;
    border-spacing: 0;
}
